<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AppliWPF_BDD_Personels.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
		<add name="BddpersonnelDataContextConnectionString" connectionString="User Id=userBDDW;Password=Password1234@il;Host=172.16.32.235;Database=bddpersonnels;Persist Security Info=True" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<userSettings>
        <AppliWPF_BDD_Personels.Properties.Settings>
                <setting name="IpServeur" serializeAs="String">
                        <value>172.16.32.235</value>
                </setting>
                <setting name="PortEcouteTCP" serializeAs="String">
                        <value>3306</value>
                </setting>
                <setting name="NomBDD" serializeAs="String">
                        <value>bddpersonnels</value>
                </setting>
                <setting name="UserNom" serializeAs="String">
                        <value>userBDDR</value>
                </setting>
                <setting name="Password" serializeAs="String">
                        <value>Password1234@il</value>
                </setting>
                <setting name="Vide" serializeAs="String">
                        <value />
                </setting>
        </AppliWPF_BDD_Personels.Properties.Settings>
    </userSettings>
</configuration>